{{!-- ==========================header files====================================== --}}
{{> default/header}}

{{!-- ========================= navigation=========================================--}}
{{> default/top-navigation}}

{{!-- =========================start of body======================================= --}}
<body data-spy="scroll" data-target="#navbarResponsive">

<!-- ======================================start section ============================================================-->
<section class="backGround">
    <div class="container-fluid">
       {{{body}}}
    </div>
</section>
<!-- ======================================end sections   ============================================================ -->
    
 <!-- Footer -->
{{> default/footer}}
</body> 

</html> 