
/* user profile dashboard css */

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.card img{
  height: 30vh;
  width: 250px;
  border-radius: 30px;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100vh;
}
.signOut a{
  margin-top: 10px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 781px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .card img{
    height: 40vh;
    width: 250px;
    border-radius: 50%;
  }
  .wel {
  text-align: center;
  }
  .signOut a{
    margin-top: 10px;
  }
  .h{
    text-align: center;
    }
  .row.content {height:auto;} 
}
